@keyframes slideIn {
    from {
        transform: translate(0, -75px);
    }
    to {
        transform: translate(0,0)
    }
}

/* div {
    border: 3px solid red;
} */

#pfp {
    height: 45px;
}

#pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#navbar {
    background-color: #22242B;
    height: 50px;
    border-bottom: 3px solid #747D99;
}

#home {
    position: fixed;
    margin-top: 13px;
    margin-left: 10px;
    font-family: "retro";
    font-size: var(--font-size-mid);
    color: #747D99;

    text-decoration: none;

    transition: all 0.25s;
}

#home:hover {
    color: #96a2c5;
}

#username {
    font-family: 'retro';
    margin-left: 10px;
    font-size: var(--font-size-mid)
}

#user-panel {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color: white;

    width: 250px;
    height: 75px;
    top: -5px;
    right: 80px;

    background-color: rgb(49, 49, 49);

    border: black 2px solid;

    animation: slideIn 1.5s ease-in;
    
    transition: all 0.25s;
}

#user-panel:hover {
    filter: brightness(1.5)
}
