#navbar {
    background-color: #22242B;
    height: 50px;
    border-bottom: 3px solid #747D99;
}

#home {
    position: fixed;
    margin-top: 13px;
    margin-left: 10px;
    font-family: "retro";
    font-size: var(--font-size-mid);
    color: #747D99;

    text-decoration: none;

    transition: all 0.25s;
}

#home:hover {
    color: #96a2c5;
}
