@font-face {
    font-family: "retro";
    src: url("../assets/retro.ttf")
}

body {
    --font-size-mid: 20px;
    --h3-font-size: 16px;
    --h2-font-size: 27px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'retro';
    font-size: var(--h2-font-size)
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'retro';
    font-size: var(--h3-font-size);
}

body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

.normal-font {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#webcam-container {
    position: relative
}

#webcam {
    position: absolute
}

#output_canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
