#pfp-pfp {
    width: 100%;
}

#page-title2 {
    font-family: 'retro';
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;
    font-size: var(--font-size-big);
    text-shadow: 5px 5px 0px #444268;

    color: #BAB8DF;
}
div {
    border: solid red;
}

#pfp-container {
    width: 20%;
}

#maine-container {
    display: flex;
    justify-content: space-between;
    margin: 0 60px 0 60px;
    font-family: 'retro';

    color: #BAB8DF;
    text-shadow: #444268;
}

#trophy {
    width: 20%;
}

#nameInfo {
    width: 60%;
}

.userName {

}
